header {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-info {
    margin: 0px auto 10px auto;
    font-size: 9px;
    color: #000;
}

button {
    width: 60px;
    height: 25px;
    text-align: center;
    cursor: pointer;
}

