header {
    text-align:center;
}

.login-info {
    margin: 10px auto 10px auto;
    font-size: 9px;
    color: #000;
}
button {
    width: 60px;
    height: 25px;
    text-align: center;
    cursor: pointer;
}